@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ShopContext> DbFactory
@inject ILoggerFactory LoggerFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="() => { }">hi</button>

@code {
    
}