@page "/services"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using PetShop.Components.UI
@using PetShop.Components.UI.Card
@inject IDbContextFactory<ShopContext> DbFactory

<PageTitle>Services</PageTitle>

<main>
    
</main>